html, body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    background: #1D1D1B;
}
h1, h2, h3, h4, h5, h6{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}
p{
    font-family: "IBM Plex Serif", serif;
    font-weight: normal;
}

.bienvenida{
    height: 100vh;
    font-size: 28px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:end;
    color: #E0F2F9;
    background-color: #1D1D1B;
    margin-bottom: 200px;
}
.bienvenida-textos{
    margin-left: 6%;
    margin-bottom: 4%;
}

.bienvenida-titulo{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}
.bienvenida-hello{
    margin: 1em 0;
    font-family: "IBM Plex Serif", serif;
    font-weight: normal;
    font-style: normal;
}
.bienvenida-since{
    margin: 1em 0;
    font-size: .8em;
    font-family: "IBM Plex Serif", serif;
    font-weight: normal;
    font-style: normal;
}

.bienvenida-upper{
    font-size: 1em;
    font-weight: bold;
}
.peregrino-logo{
    width: 40vw;
    position: absolute;
    top: 10%;
    left: 5%;
}


@media(max-width: 990px){
    .peregrino-logo{
        width: 70vw;
        position: absolute;
        top: 30%;
        left: 5%;
    }
    .bienvenida{
        font-size: 18px;
        height: 90vh;
    }
    .bienvenida-titulo{
        width: 80%;
    }
    .bienvenida-flechas-1, .bienvenida-flechas-2, .bienvenida-flechas-3, .bienvenida-flechas-4 {
        height: 7vh;
        position: absolute;
    
    }
    .bienvenida-flechas-1{
        top: 14%;
        right: 6%;
    }
    
    .bienvenida-flechas-2{
        top: calc(14% + 6vh);
        right: 6%;
    }
    
    .bienvenida-flechas-3{
        top: calc(14% + 12vh);
        right: 6%;
    }
    .bienvenida-flechas-4 {
        top: calc(14% + 18vh);
        right: 6%;
    }
    
}
