.bienvenida{
    height: 100vh;
    font-size: 28px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:end;
    color: #efefef;
    background-image: url("/IMG/fotos/SOMOS\ \(1\).svg");
    margin-bottom: 200px;
}
.bienvenida-textos{
    margin-left: 6%;
    margin-bottom: 4%;
}

.bienvenida-titulo{
    font-weight:lighter;
    margin: 0;
}
.bienvenida-hello{
    margin: 1em 0;
    font-weight: lighter;
    font-size: .8em;
}
.bienvenida-since{
    margin: 1em 0;
    font-weight: lighter;
    font-size: .8em;
}

.bienvenida-upper{
    font-size: 1em;
    font-weight: bold;
}

.bienvenida-flechas-1, .bienvenida-flechas-2, .bienvenida-flechas-3, .bienvenida-flechas-4 {
    height: 120px;
    position: absolute;

}
.bienvenida-flechas-1{
    top: 24%;
    right: 6%;
    opacity: 1;
}

.bienvenida-flechas-2{
    top: 37%;
    right: 6%;
    opacity: .70;
}

.bienvenida-flechas-3{
    top: 50%;
    right: 6%;
    opacity: .50;
}
.bienvenida-flechas-4 {
    top: 63%;
    right: 6%;
    opacity: .1;
}

.bienvenida-flechas{
    height: 600px;
    position: absolute;
    right: 0;
    top: 200px;
}

@media(max-width: 990px){
    .bienvenida{
        font-size: 18px;
    }
    .bienvenida-titulo{
        width: 80%;
    }
    .bienvenida-flechas-1, .bienvenida-flechas-2, .bienvenida-flechas-3, .bienvenida-flechas-4 {
        height: 70px;
        position: absolute;
    
    }
    .bienvenida-flechas-1{
        top: 24%;
        right: 6%;
    }
    
    .bienvenida-flechas-2{
        top: 30%;
        right: 6%;
    }
    
    .bienvenida-flechas-3{
        top: 36%;
        right: 6%;
    }
    .bienvenida-flechas-4 {
        top: 42%;
        right: 6%;
    }
    
}
