@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Mon-light;
  src: url(/fonts/Montserrat-Thin.ttf);
}
@font-face {
  font-family: Mon-bold;
  src: url(/fonts/Montserrat-Bold.ttf);
}
.carousel {
    width: 80vw;
    max-width: 80vw;
    min-width: 80vw;
    height: 80vh;
    display: flex;
    overflow: hidden;
    position: relative;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
}


.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;

}

.carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
    font-family: 'Montserrat';
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #7E7E7E;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-family: 'Mon-bold';
    font-weight: normal;
    color: #2FB7DB;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}


.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #343434;
    line-height: 30px;
    margin-bottom: 35px;
}


.carousel-item--1 .carousel-item__image{
  background-image: url('https://images.unsplash.com/photo-1650229785916-2cbfe89c72c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXxsSWRjX1dEb01qY3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60');
}


.carousel-item--2 .carousel-item__image{
   background-image: url('https://images.unsplash.com/photo-1651601787600-40ad979813ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
}

.carousel-item--3 .carousel-item__image{
     background-image: url('https://images.unsplash.com/photo-1635373670332-43ea883bb081?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=681&q=80');
}



.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}
.carousel-item__btn:hover{
  color: #2FB7DB;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
  fill: #efefef;
}
.carousel__icon:hover{
  fill: #0f0f0f;
  transition: all .4s;
}

.carousel__arrow {
    color: #efefef;
    background: none;
    padding: 24px 24px;
    border: 1px solid rgba(255, 255, 255, .3);
    font-size: 16px;
    border-radius: 50%;
    margin: .4em;
    display: inline-block;
}
.carousel__arrow:hover{
  background-color: #efefef;
  transition: all .4s;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}


@media(max-width: 990px) {
  .carousel-item{
    flex-direction: column;
  }
  .carousel-item__info{
    height: 40%;
    
  display: flex;
  justify-content: left;
  flex-direction: row;
  
    display: -webkit-flex;
  -webkit-justify-content: left;
  -webkit-flex-direction: row;
    margin: 20px 10px;
    width: 85%;
  }
  .carousel{
    width: 95vw;
    max-width: 95vw;
    min-width: 95vw;
    height: 40vh;
  }
  .carousel-item__image{
      width: 100%;
      height: 30%;    
  }

  .carousel-item__btn{
    font-size: 14px;
    margin: 0;
  }
  .carousel-item__description{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .carousel-item__title{
    font-size: 22.65px;
    margin: 0;
  }
  .carousel-item{
    width: 100vw;
    max-height: 500px;
    overflow: hidden;
  }
  .carousel__arrow {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, .3);
    font-size: 16px;
    border-radius: 50%;
    margin: .4em;
    display: inline-block;
}
}

