
.nosotros-titulo{
 text-transform: uppercase;
  font-size: 8vh;
  font-weight: bold;
  transition: color all .3s;
  position: absolute;
  top: -5%;
  left: 10%;
}
.nosotros-titulo2{
  background-image: url("/IMG/separador/Diseño\ sin\ título.gif");
  background-size: cover;
  text-transform: uppercase;
   font-size: 8vh;
   font-weight: bold;
   transition: color all .3s;
   color: transparent;
   position: absolute;
   background-clip: text;
   top: 4%;
   left: 35%;
 }
 
 .nosotros-titulo3{
  text-transform: uppercase;
   font-size: 8vh;
   font-weight: bold;
   transition: color all .3s;
   position: absolute;
   top: 12%;
   left: 20%;
 }
 .nosotros-titulo4{
  background-image: url("/IMG/separador/Diseño\ sin\ título.gif");
  background-size: cover;
  background-position-x: 20deg;
  background-clip: text;
  text-transform: uppercase;
   font-size: 8vh;
   font-weight: bold;
   position: absolute;
   top: 20%;
   left: 35%;
   color: transparent;
 }
 .nosotros-texto{
  width: 30%;
  position: absolute;
  bottom: 30%;
  left: 5%;
  font-size: 24px;
 }
 .nosotros-img{
  position: absolute;
  right: 3%;
  height: 30%;
  width: 50%;
  bottom: 4%;
  border-radius: 14px;
  transition: fadeIn 3s ease;
 }

@keyframes fadeIn {
    0%{
      opacity: 0;
      filter: brightness(20px);
    }
    10%{
      opacity: 1;
      filter: brightness(2) blur(10px);
    }
   }
 .nosotros-boton{
  left: 5%;
  bottom: 25%;
  font-size: 17px;
 }

 .separador-nosotros{
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 4px;
  min-height: 100vh;
  background-color: #000000;
  opacity: .5;
 }
/* 

.textos-titular-sub h2{
    color: #000000;
    width: 40vw;
    font-size: 25px;
    font-weight: bold;
    letter-spacing:5px;
}
.textos-titular-sub p{
    color: #000000;
    font-weight: normal;
    width: 40vw;
    font-size: 26px;
}
.separador-vertical{
    min-width: 10px;
    margin: 0 10%;
    height: 150px;
    background-color: #000000;
    opacity: .2;
}
.Logo-titular{
}



.separador{
	font-size: 4vw;
	background:transparent !important;
  font-family: "IBM Plex Sans-Serif", sans-serif;
  font-weight: bold;
	color: #E0F2F9;
	text-align: center;
	margin: 10% 0;
} */






.footer {
    padding-block: 100px;
    color: #000000;
  }
  
  .footer__container {
    margin: auto;
    padding: 0 1.5rem;
  }
  
  .footer__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
  }
  
  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 30px;
  }
  
  .footer__list-item {
    list-style: none;
  }
  
  .footer__list-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.25s;
  }
  
  .footer__list-link:hover {
    color: #2FB7DB;
  }
  
  .company__info {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .company__description{
    font-size: 20px;
  }
  
  .imgFooter{
    color: #F8FAFA;
    width: 10vw;
  }
  
  .company__info ul {
    flex-direction: row;
  }
  
  .copyright {
    margin-top: auto;
    font-size: 14px;
  }
  
  
  @media screen and (min-width: 40em) {
    .company__info {
      grid-column: span 2;
    }
  }

  @media(max-width: 990px) {
    .imgFooter{
        width: 40%;
    }
    .company__description{
      font-size: 14px;
    }

  }

  @media(max-width: 990px) {
    .Titular-1 {
      display: inline-flex;
      width: 100vw;
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
    }

    .textos-titular-sub h2 {
        font-size: 20px;
    }

    .textos-titular-sub p {
        font-size: 16px;
        width: 85vw;
    }

    .separador-vertical {
        display: none;
    }
    .Logo-titular{
        width: 80vw;
        margin: 120px 0px;
    }
    .separador{
      font-size: 28px;
      padding: 100px 0;
    }
    .cards-title{
      margin: 0;
    }
}

